<% layout('/layouts/default.html', {title: 'estimated_fba_fees管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(estimatedFbaFees.isNewRecord ? '新增estimated_fba_fees' : '编辑estimated_fba_fees')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${estimatedFbaFees}" action="${ctx}/estimated/estimatedFbaFees/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="code"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> task_code：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="taskCode" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> store_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="storeName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> remarks：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> sku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sku" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> fnsku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fnsku" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> asin：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="asin" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> product_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="productName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> product_group：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="productGroup" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> brand：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="brand" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> fulfilled_by：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fulfilledBy" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> your_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="yourPrice" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> sales_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="salesPrice" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> longest_side：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="longestSide" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> median_side：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="medianSide" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> shortest_side：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shortestSide" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> length_and_girth：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lengthAndGirth" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> unit_of_dimension：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitOfDimension" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> item_package_weight：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemPackageWeight" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> unit_of_weight：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitOfWeight" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> product_size_tier：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="productSizeTier" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> currency：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="currency" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_fee_total：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedFeeTotal" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_referral_fee_per_unit：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedReferralFeePerUnit" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_variable_closing_fee：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedVariableClosingFee" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_order_handling_fee_per_order：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedOrderHandlingFeePerOrder" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_pick_pack_fee_per_unit：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedPickPackFeePerUnit" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_weight_handling_fee_per_unit：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedWeightHandlingFeePerUnit" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> expected_fulfillment_fee_per_unit：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="expectedFulfillmentFeePerUnit" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('estimated:estimatedFbaFees:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>