<% layout('/layouts/default.html', {title: 'settlement_report管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(settlementReport.isNewRecord ? '新增settlement_report' : '编辑settlement_report')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${settlementReport}" action="${ctx}/settlement/settlementReport/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="code"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> settlement_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="settlementId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> settlement_start_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="settlementStartDate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> settlement_end_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="settlementEndDate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> deposit_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="depositDate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> total_amount：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="totalAmount" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> currency：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="currency" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> transaction_type：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="transactionType" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> order_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> merchant_order_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="merchantOrderId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> adjustment_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="adjustmentId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> shipment_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shipmentId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> marketplace_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="marketplaceName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> amount_type：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="amountType" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> amount_description：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="amountDescription" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> amount：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="amount" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> fulfillment_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fulfillmentId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> posted_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postedDate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> posted_date_time：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postedDateTime" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> order_item_code：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderItemCode" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> merchant_order_item_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="merchantOrderItemId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> merchant_adjustment_item_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="merchantAdjustmentItemId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> sku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sku" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> quantity_purchased：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="quantityPurchased" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> promotion_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="promotionId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> remarks：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('settlement:settlementReport:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>