<% layout('/layouts/default.html', {title: 'fba_fulfillment_customer_shipment_sales管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(fbaFulfillmentCustomerShipmentSales.isNewRecord ? '新增fba_fulfillment_customer_shipment_sales' : '编辑fba_fulfillment_customer_shipment_sales')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${fbaFulfillmentCustomerShipmentSales}" action="${ctx}/fba/fbaFulfillmentCustomerShipmentSales/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="code"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> task_code：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="taskCode" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> store_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="storeName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> remarks：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> shipment_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shipmentDate" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> sku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sku" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> fnsku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fnsku" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> asin：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="asin" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> fulfillment_center_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fulfillmentCenterId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> quantity：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="quantity" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> amazon_order_id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="amazonOrderId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> currency：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="currency" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> item_price_per_unit：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemPricePerUnit" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> shipping_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shippingPrice" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> gift_wrap_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="giftWrapPrice" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ship_city：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shipCity" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ship_state：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shipState" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ship_postal_code：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="shipPostalCode" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('fba:fbaFulfillmentCustomerShipmentSales:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>