<% layout('/layouts/default.html', {title: 'fba_inventory_aged_data管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(fbaInventoryAgedData.isNewRecord ? '新增fba_inventory_aged_data' : '编辑fba_inventory_aged_data')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${fbaInventoryAgedData}" action="${ctx}/fba/fbaInventoryAgedData/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="code"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> task_code：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="taskCode" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> store_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="storeName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> remarks：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> snapshot_date：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="snapshotDate" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> sku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sku" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> fnsku：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fnsku" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> asin：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="asin" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> product_name：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="productName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> condition：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="condition" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> avaliable_quantity_sellable：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="avaliableQuantitySellable" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> qty_with_removals_in_progress：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qtyWithRemovalsInProgress" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> inv_age_0_to_90_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="invAge0To90Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> inv_age_91_to_180_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="invAge91To180Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> inv_age_181_to_270_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="invAge181To270Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> inv_age_271_to_365_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="invAge271To365Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> inv_age_365_plus_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="invAge365PlusDays" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> currency：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="currency" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> qty_to_be_charged_ltsf_6_mo：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qtyToBeChargedLtsf6Mo" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> projected_ltsf_6_mo：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="projectedLtsf6Mo" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> qty_to_be_charged_ltsf_12_mo：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qtyToBeChargedLtsf12Mo" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> projected_ltsf_12_mo：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="projectedLtsf12Mo" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> units_shipped_last_7_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitsShippedLast7Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> units_shipped_last_30_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitsShippedLast30Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> units_shipped_last_60_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitsShippedLast60Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> units_shipped_last_90_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unitsShippedLast90Days" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> alert：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="alert" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> your_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="yourPrice" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> sales_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="salesPrice" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> lowest_price_new：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lowestPriceNew" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> lowest_price_used：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lowestPriceUsed" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> recommended_action：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="recommendedAction" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> healthy_inventory_level：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="healthyInventoryLevel" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> recommended_sales_price：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="recommendedSalesPrice" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> recommended_sale_duration_days：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="recommendedSaleDurationDays" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> recommended_removal_quantity：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="recommendedRemovalQuantity" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> estimated_cost_savings_of_removal：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="estimatedCostSavingsOfRemoval" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('fba:fbaInventoryAgedData:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>