<% layout('/layouts/default.html', {title: 'reserved_inventory_data管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('reserved_inventory_data管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('fbair:rid:reservedInventoryData:edit')){ %>
					<a href="${ctx}/fbair/rid/reservedInventoryData/form" class="btn btn-default btnTool" title="${text('新增reserved_inventory_data')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${reservedInventoryData}" action="${ctx}/fbair/rid/reservedInventoryData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">task_code：</label>
					<div class="control-inline">
						<#form:input path="taskCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">store_name：</label>
					<div class="control-inline">
						<#form:input path="storeName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">sku：</label>
					<div class="control-inline">
						<#form:input path="sku" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">fnsku：</label>
					<div class="control-inline">
						<#form:input path="fnsku" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">asin：</label>
					<div class="control-inline">
						<#form:input path="asin" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">product_name：</label>
					<div class="control-inline">
						<#form:input path="productName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">reserved_qty：</label>
					<div class="control-inline">
						<#form:input path="reservedQty" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">reserved_customerorders：</label>
					<div class="control-inline">
						<#form:input path="reservedCustomerorders" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">reserved_fc_transfers：</label>
					<div class="control-inline">
						<#form:input path="reservedFcTransfers" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">reserved_fc_processing：</label>
					<div class="control-inline">
						<#form:input path="reservedFcProcessing" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">status：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">remarks：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'task_code', name:'taskCode', index:'a.task_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/fbair/rid/reservedInventoryData/form?code='+row.code+'" class="btnList" data-title="${text('编辑reserved_inventory_data')}">'+(val||row.id)+'</a>';
		}},
		{header:'store_name', name:'storeName', index:'a.store_name', width:150, align:"left"},
		{header:'sku', name:'sku', index:'a.sku', width:150, align:"left"},
		{header:'fnsku', name:'fnsku', index:'a.fnsku', width:150, align:"left"},
		{header:'asin', name:'asin', index:'a.asin', width:150, align:"left"},
		{header:'product_name', name:'productName', index:'a.product_name', width:150, align:"left"},
		{header:'reserved_qty', name:'reservedQty', index:'a.reserved_qty', width:150, align:"center"},
		{header:'reserved_customerorders', name:'reservedCustomerorders', index:'a.reserved_customerorders', width:150, align:"center"},
		{header:'reserved_fc_transfers', name:'reservedFcTransfers', index:'a.reserved_fc_transfers', width:150, align:"center"},
		{header:'reserved_fc_processing', name:'reservedFcProcessing', index:'a.reserved_fc_processing', width:150, align:"center"},
		{header:'status', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'create_date', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'remarks', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('fbair:rid:reservedInventoryData:edit')){ %>
				actions.push('<a href="${ctx}/fbair/rid/reservedInventoryData/form?code='+row.code+'" class="btnList" title="${text('编辑reserved_inventory_data')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/fbair/rid/reservedInventoryData/delete?code='+row.code+'" class="btnList" title="${text('删除reserved_inventory_data')}" data-confirm="${text('确认要删除该reserved_inventory_data吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>