<% layout('/layouts/default.html', {title: 'all_orders_data管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('all_orders_data管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('orders:allOrdersData:edit')){ %>
					<a href="${ctx}/orders/allOrdersData/form" class="btn btn-default btnTool" title="${text('新增all_orders_data')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${allOrdersData}" action="${ctx}/orders/allOrdersData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">task_code：</label>
					<div class="control-inline">
						<#form:input path="taskCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">store_name：</label>
					<div class="control-inline">
						<#form:input path="storeName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">status：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">remarks：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">amazon_order_id：</label>
					<div class="control-inline">
						<#form:input path="amazonOrderId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">merchant_order_id：</label>
					<div class="control-inline">
						<#form:input path="merchantOrderId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">purchase_date：</label>
					<div class="control-inline">
						<#form:input path="purchaseDate" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">last_updated_date：</label>
					<div class="control-inline">
						<#form:input path="lastUpdatedDate" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">order_status：</label>
					<div class="control-inline">
						<#form:input path="orderStatus" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">fulfillment_channel：</label>
					<div class="control-inline">
						<#form:input path="fulfillmentChannel" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">sales_channel：</label>
					<div class="control-inline">
						<#form:input path="salesChannel" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">order_channel：</label>
					<div class="control-inline">
						<#form:input path="orderChannel" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">url：</label>
					<div class="control-inline">
						<#form:input path="url" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_service_level：</label>
					<div class="control-inline">
						<#form:input path="shipServiceLevel" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">product_name：</label>
					<div class="control-inline">
						<#form:input path="productName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">sku：</label>
					<div class="control-inline">
						<#form:input path="sku" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">asin：</label>
					<div class="control-inline">
						<#form:input path="asin" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">item_status：</label>
					<div class="control-inline">
						<#form:input path="itemStatus" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">quantity：</label>
					<div class="control-inline">
						<#form:input path="quantity" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">currency：</label>
					<div class="control-inline">
						<#form:input path="currency" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">item_price：</label>
					<div class="control-inline">
						<#form:input path="itemPrice" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">item_tax：</label>
					<div class="control-inline">
						<#form:input path="itemTax" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">shipping_price：</label>
					<div class="control-inline">
						<#form:input path="shippingPrice" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">shipping_tax：</label>
					<div class="control-inline">
						<#form:input path="shippingTax" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">gift_wrap_price：</label>
					<div class="control-inline">
						<#form:input path="giftWrapPrice" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">gift_wrap_tax：</label>
					<div class="control-inline">
						<#form:input path="giftWrapTax" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">item_promotion_discount：</label>
					<div class="control-inline">
						<#form:input path="itemPromotionDiscount" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_promotion_discount：</label>
					<div class="control-inline">
						<#form:input path="shipPromotionDiscount" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_city：</label>
					<div class="control-inline">
						<#form:input path="shipCity" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_state：</label>
					<div class="control-inline">
						<#form:input path="shipState" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_postal_code：</label>
					<div class="control-inline">
						<#form:input path="shipPostalCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">ship_country：</label>
					<div class="control-inline">
						<#form:input path="shipCountry" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">promotion_ids：</label>
					<div class="control-inline">
						<#form:input path="promotionIds" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">is_business_order：</label>
					<div class="control-inline">
						<#form:input path="isBusinessOrder" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">purchase_order_number：</label>
					<div class="control-inline">
						<#form:input path="purchaseOrderNumber" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">price_designation：</label>
					<div class="control-inline">
						<#form:input path="priceDesignation" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'task_code', name:'taskCode', index:'a.task_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/orders/allOrdersData/form?code='+row.code+'" class="btnList" data-title="${text('编辑all_orders_data')}">'+(val||row.id)+'</a>';
		}},
		{header:'store_name', name:'storeName', index:'a.store_name', width:150, align:"left"},
		{header:'status', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'create_date', name:'createDate', index:'a.create_date', width:150, align:"left"},
		{header:'remarks', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'amazon_order_id', name:'amazonOrderId', index:'a.amazon_order_id', width:150, align:"left"},
		{header:'merchant_order_id', name:'merchantOrderId', index:'a.merchant_order_id', width:150, align:"left"},
		{header:'purchase_date', name:'purchaseDate', index:'a.purchase_date', width:150, align:"left"},
		{header:'last_updated_date', name:'lastUpdatedDate', index:'a.last_updated_date', width:150, align:"left"},
		{header:'order_status', name:'orderStatus', index:'a.order_status', width:150, align:"left"},
		{header:'fulfillment_channel', name:'fulfillmentChannel', index:'a.fulfillment_channel', width:150, align:"left"},
		{header:'sales_channel', name:'salesChannel', index:'a.sales_channel', width:150, align:"left"},
		{header:'order_channel', name:'orderChannel', index:'a.order_channel', width:150, align:"left"},
		{header:'url', name:'url', index:'a.url', width:150, align:"left"},
		{header:'ship_service_level', name:'shipServiceLevel', index:'a.ship_service_level', width:150, align:"left"},
		{header:'product_name', name:'productName', index:'a.product_name', width:150, align:"left"},
		{header:'sku', name:'sku', index:'a.sku', width:150, align:"left"},
		{header:'asin', name:'asin', index:'a.asin', width:150, align:"left"},
		{header:'item_status', name:'itemStatus', index:'a.item_status', width:150, align:"left"},
		{header:'quantity', name:'quantity', index:'a.quantity', width:150, align:"left"},
		{header:'currency', name:'currency', index:'a.currency', width:150, align:"left"},
		{header:'item_price', name:'itemPrice', index:'a.item_price', width:150, align:"left"},
		{header:'item_tax', name:'itemTax', index:'a.item_tax', width:150, align:"left"},
		{header:'shipping_price', name:'shippingPrice', index:'a.shipping_price', width:150, align:"left"},
		{header:'shipping_tax', name:'shippingTax', index:'a.shipping_tax', width:150, align:"left"},
		{header:'gift_wrap_price', name:'giftWrapPrice', index:'a.gift_wrap_price', width:150, align:"left"},
		{header:'gift_wrap_tax', name:'giftWrapTax', index:'a.gift_wrap_tax', width:150, align:"left"},
		{header:'item_promotion_discount', name:'itemPromotionDiscount', index:'a.item_promotion_discount', width:150, align:"left"},
		{header:'ship_promotion_discount', name:'shipPromotionDiscount', index:'a.ship_promotion_discount', width:150, align:"left"},
		{header:'ship_city', name:'shipCity', index:'a.ship_city', width:150, align:"left"},
		{header:'ship_state', name:'shipState', index:'a.ship_state', width:150, align:"left"},
		{header:'ship_postal_code', name:'shipPostalCode', index:'a.ship_postal_code', width:150, align:"left"},
		{header:'ship_country', name:'shipCountry', index:'a.ship_country', width:150, align:"left"},
		{header:'promotion_ids', name:'promotionIds', index:'a.promotion_ids', width:150, align:"left"},
		{header:'is_business_order', name:'isBusinessOrder', index:'a.is_business_order', width:150, align:"left"},
		{header:'purchase_order_number', name:'purchaseOrderNumber', index:'a.purchase_order_number', width:150, align:"left"},
		{header:'price_designation', name:'priceDesignation', index:'a.price_designation', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('orders:allOrdersData:edit')){ %>
				actions.push('<a href="${ctx}/orders/allOrdersData/form?code='+row.code+'" class="btnList" title="${text('编辑all_orders_data')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/orders/allOrdersData/delete?code='+row.code+'" class="btnList" title="${text('删除all_orders_data')}" data-confirm="${text('确认要删除该all_orders_data吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>